#### Feature Selection
- This dataset if from the Home-Mortgage Disclosure Act from 2007 and is based on wether or not loan applicant will be approved or denied a load and is based in Suffolk County

#### Variables by description
. (SEQ) – sequence number, unique identifier for observations 
 
II. Original HMDA data 
A.  Loan Information 
1. (S3) Type of Loan 
Codes: 
1 – Conventional 
3.    (S4) Purpose of Loan 
Codes: 
1 – Home purchase 
2 – Home improvement 
3 – Refinancing 
4 – Multifamily 
       4.    ( S5) Occupancy 
Codes: 
1 – Owner-occupied 
2 – Not owner-occupied 
3 – Not applicable 
5.    (S6) Loan amount (in thousands) 
6.    (S7) Type of action taken 
Codes: 
1 – Loan originated 
2 – Application approved but not accepted 
                 by applicant 
3 – Application denied 
4 – Application withdrawn 
5 – File closed for incompleteness 
6 – Loan purchased by institution 
 
B. Property Location:  
1.  (S9) MSA (Boston Metropolitan Statistical Area) number where property 
located 
2.  (S11) County where property located 
  Codes: 
  1 – Suffolk 
  0 – Other 
   
 
C. Applicant Information 
1.  (S13) Applicant race 
Codes: 
1 – American Indian or Alaskan Native 
2 – Asian or Pacific Islander 
3 – Black 
4 – Hispanic 
5 – White 
6 – Other 
7 – Information not provided by applicant in 
                mail or telephone application 
8 – Not applicable 
2.    (S14) Co-applicant race
* 
3.    (S15) Applicant sex 
Codes: 
1 – Male 
2 – Female 
3 – Information not provided by applicant in 
                mail or telephone application 
4 – Not applicable 
4.    (S16) Co-applicant sex
* 
5.    (S17) Applicant income (in thousands) 
 
D. Other Loan Information  
1.    (S18) Type of purchaser of loan 
Codes: 
0 – Loan was not sold in calendar year covered by register 
1 – FNMA 
2 – GNMA 
3 – FHLMC 
4 – FMHA  
5 – Commercial bank 
6 – Savings bank or savings association 
7 – Life insurance company 
8 – Affiliate institution 
9 – Other type of purchaser 
2.    (S19A) Original HMDA report, reasons for denial 
Codes: 
1 – Debt-to-income ratio 
2 – Employment history 
3 – Credit history 
4 – Collateral 
5 – Insufficient cash 
6 – Unverifiable information 
7 – Credit application incomplete 
8 – Mortgage insurance denied 
9 – Other 
                                                 
* Same codes as preceding variable 
 
 
III. Follow-up Survey Data 
1.  (S19B, S19C, S19D)  Additions or corrections to reasons for denial from 
Boston survey data* 
2.    (S20) Number of units in property purchased 
3.    (S23A) Marital status of applicant 
Codes: 
M – Married 
U – Unmarried (includes single, divorced and widowed) 
S – Separated 
4.    (S24A) Number of dependents claimed by applicant 
5.  (S25A) Years employed in applicable line of work 
6. (S26A) Years employed on applicable job 
7. (S27A) Self-employed applicant 
Codes: 
0 – Not self-employed 
1 – Self-employed 
8. (S30A) Base employment monthly income of applicant (in dollars) 
9. (S30C) Base employment monthly income of coapplicant (in dollars) 
10. (S31A) Total monthly income of applicant (in dollars) 
11. (S31C) Total monthly income of coapplicant (in dollars) 
12. (S32) Proposed monthly housing expense (in dollars) 
13. (S33) Purchase price (in thousands) 
14. (S34) Other financing (in thousands) 
15. (S35) Liquid assets (in thousands)
** 
16. (S39) Number of commercial credit reports in loan file 
17. (S40) Applicants' credit history meets loan policy guidelines for approval 
Codes: 
0 – No 
1 – Yes 
18. (S41) Number of separate consumer credit lines on credit reports 
19. (S42) Credit history - mortgage payments 
Codes:   
    1 – No late mortgage payments 
2 – No mortgage payment history 
   3 – One or two late mortgage payments 
4 – More than two late mortgage payments 
20. (S43) Credit history - consumer payments 
Codes: 
1 – No "slow pay" or delinquent accounts, but sufficient references for 
determination 
2 – One or two "slow pay" account(s) (each with one or two payments 30 
days past due) 
3 – More than two "slow pay" accounts (each with one or two payments 
30 days past due); or one or two chronic "slow pay" account(s) (with 
three or more payments 30 days past due in any 12-month period) 
4 – Insufficient credit history or references for determination 
                                                 
* Same codes as preceding variable 
** Applicant and coapplicant data were summed if separate statements were completed. 
5 – Delinquent credit history (containing account(s) with a history of 
payments 60 days past due) 
6 – Serious delinquencies (containing account(s) with a history of 
payments 90 days past due) 
21. (S44)  Credit history - public records 
0 – Information not considered 
0 – No public record defaults 
1 – Bankruptcy 
1 – Bankruptcy and
 charge offs 
1 – One or two charge-off(s), public record(s), or collection action(s), 
totaling less than $300 
1 – Charge-off(s), public record(s), or collection action(s) totaling more 
than $300 
22. (S45) Debt-to-income ratio (the banks’ calculation of housing 
expense/income) 
23. (S46) Debt-to-income ratio (the banks’ calculation of total 
obligations/income) 
24. (S47) Fixed or adjustable rate loan (F or A) 
Codes: 
1 – Adjustable 
2 – Fixed 
3 – Not Available 
25. (S48) Term of loan (months) 
26. (S49) Special loan application program 
27. (S50) Appraised value (in thousands) 
28. (S51)  Type of property purchased 
Codes: 
1 – Condominium 
2 – Single family 
3 – 2 to 4 families 
29. (S52) Private mortgage insurance (PMI) sought?   
Codes: 
0 – No or information not available 
1 – Yes 
30. (S53) Private mortgage insurance (PMI) denied? 
Codes: 
0 – PMI approved, did not apply, or information not available 
1 – PMI sought and denied 
31. (S54) Was a gift or grant as part of down payment? 
Codes: 
0 – No or information not available 
1 – Yes 
32. (S55) Was there a co-signer for the application? 
Codes: 
0 – No or information not available 
1 – Yes 
33. (S56) Unverifiable information 
Codes: 
0 – Not applicable (all verifiable) 
1 – Some information unverifiable 
34. (S57) Number of times application was reviewed by underwriter 
    
 
 
 
 III. Variables Added for Analysis, taken from the Census Survey    
1. (netw) Net worth (Total assets - Total liabilities)
*** 
2. (uria) Probability of unemployment by industry 
3. (rtdum) Minority population share in tract 
Codes: 
0 – if ≤ 0.30 
1 – if > 0.30 
4. (bd) Boarded-up value of tract 
Codes: 
0 – if 
≤ MSA median 
1 – if > MSA median 
5. (mi) Median tract income 
Codes: 
0 – if 
≤ MSA median 
1 – if > MSA median 
6. (old) Applicant age 
Codes: 
0 – if 
≤ MSA median 
1 – if > MSA median 
2 – missing 
7. (vr) Tract vacancy  
Codes: 
0 – if 
≤ MSA median 
1 – if > MSA median 
8. (school) Years of education 
9. (chvalc) Change in median value of property in a given tract, 1980-1990 
 
IV. Dummy variables created from HMDA data 
1. (dnotown)  Owner occupied property 
0 – Owner occupied 
1 – Not owner occupied, or information not available 
2. (dprop)  Type of property 
0 – Condominium or single family 
1 – 2-4 families

In [ ]:
# selecting features based on variable description
# data ingestion
from src.data.data_ingestion import DataIngestion

# helpers
from helpers.config import load_config
from helpers.logger import logger

# pandas
import pandas as pd

class Features:
    """Class to select relevant features from data ingestion."""
    
    def __init__(self, config: dict, data: DataIngestion | None = None):
        """ Initialize features module.
        
        Args:
            config (dict): Configuration file containing relvant features, paths, target ect.
            data (DataIngestion): A module for getting data from source.
        """
        self.config = config or load_config()
        self.data = data or DataIngestion(self.config)
        
    def select_features(self) -> pd.DataFrame:
        """ Select Relevant features based on the paper or ones that explain the dependent variable.
        
        Returns:
            data (pd.DataFrame): Cleaned data from data ingestion with no missing values, duplicates or irrelvant features.
        """
        try:
            data = self.data.get_data()
            
            # select features based on description in paper.
            
            data.rename(
            columns={
                's5':'occupancy',
                's7':'approved',
                's13':'race',
                's15':'sex',
                's17':'income',
                's23a':'married',
                's27a':'self_employed',
                's33':'purchase_price',
                's34':'other_financing',
                's35':'liquid_assets',
                's40':'credit_history',
                's42':'chmp',
                's43':'chcp',
                's44':'chpr',
                's45':'debt_to_expense',
                's46':'di_ratio',
                's50':'appraisal',
                's53':'pmi_denied',
                's56':'unverifiable',
                's52':'pmi_sought'},inplace=True)
            
            
            # change features to numerical values manually
            
            # target
            data['approved'] = [1 if X == 3 else 0 for X in data['approved']]
            
            data['race'] = [0 if X == 3 else 1 for X in data['race']]
            data['married'] = [1 if X == 'M' else 0 for X in data['married']]
            data['sex'] = [1 if X == 1 else 0 for X in data['sex']]
            data['credit_history'] = [1 if X == 1 else 0 for X in data['credit_history']]
            
            # drop unused variables specified in config.yaml
            
            unused_variables = self.config['unused_variables']
            
            # drop unused variables
            data.drop(unused_variables, inplace=True, axis=1)
            # drop duplicates
            
            data.drop_duplicates(inplace=True)
            return data
        except Exception as e:
            return f"Invalid type or could not perform feature selection: {e}"


if __name__ == "__main__":
    obj = Features(config=load_config())
    features = obj.select_features()

In [2]:
# features
features

,occupancy,approved,race,sex,income,married,self_employed,purchase_price,other_financing,liquid_assets,...,pmi_sought,pmi_denied,unverifiable,rtdum,bd,mi,old,vr,chval,dnotown
0,1,0,1,0,53.0,1,0,110.0,0.0,30.0,...,0,0,1,0,1,1,1,0,206.7355,0
1,1,0,1,1,51.0,0,0,128.0,0.0,19.0,...,1,0,0,0,1,1,0,1,238.4943,0
2,1,0,1,1,99.0,1,0,196.0,0.0,24.0,...,0,0,0,0,1,1,1,0,200.1977,0
3,1,0,1,1,110.0,1,0,210.0,0.0,11.0,...,1,0,0,0,0,1,0,1,193.8895,0
4,1,0,1,1,129.0,1,0,550.0,0.0,222.0,...,0,0,0,0,0,1,1,0,257.0874,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2375,1,0,1,1,68.0,1,1,210.0,0.0,69.0,...,0,0,0,0,0,1,0,0,205.3154,0
2376,1,0,1,1,99.0,0,0,296.0,0.0,72.0,...,0,0,0,0,0,1,0,1,270.3711,0
2377,1,0,1,1,112.0,1,0,315.0,0.0,176.0,...,0,0,0,0,0,1,0,1,186.4138,0
2378,1,1,0,1,49.0,0,0,123.0,0.0,33.0,...,0,0,0,0,0,0,0,1,129.5918,0
2379,1,1,1,1,48.0,0,0,120.0,0.0,52.0,...,0,0,0,0,0,0,0,1,200.5807,0

In [3]:
# check for null values, duplicated ect.
print(f"Null Values: {features.isnull().sum()}")
print(f"Duplicated Values: {features.duplicated().sum()}")

Null Values: occupancy          0
approved           0
race               0
sex                0
income             0
married            0
self_employed      0
purchase_price     0
other_financing    0
liquid_assets      0
credit_history     0
chmp               0
chcp               0
chpr               0
debt_to_expense    0
di_ratio           0
appraisal          0
pmi_sought         0
pmi_denied         0
unverifiable       0
rtdum              0
bd                 0
mi                 0
old                0
vr                 0
chval              0
dnotown            0
dtype: int64
Duplicated Values: 0

- On to the next one.